/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- heading
- navigation
- generic
- media queries
*/

/*heading
--------------------------------------------------*/
header.main {
    padding: 35px 0px;
    text-align: center
}
header h1.logo {
    display:inline-block;
}

header h1.logo a {
    text-decoration: none;
    display:block;
    height:49;

    color: black;
}

/*navigation
--------------------------------------------------*/
.navigation {
    marign: 0;
    padding: 0;
    background-color: #CCFFFF;
}

.navigation ul {
    margin: 0;
    padding: 1.5rem;
}

.navigation li {
    margin: 0;
}

/*generic
--------------------------------------------------*/
body {
    background-color: #D3D3D3;
    font-family: Helvetica;
}
.heading {
    text-align: center;
    height: 100%;
}

input.number_button {
    height: 100%;

    text-align: center;
    vertical-align: center;
}

.number_button.two {
    width: 49%;
    font-size: 1.0em;
    margin: auto;
}

.row.number_row {
    text-align: center;
}

.row.action_row {
    text-align: center;
}

#calculator_display {
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    font-weight: light;

    border: 1px solid black;
}

/*media queries
--------------------------------------------------*/
/* Larger than mobile */
/*@media (min-width: 400px) {
    input.number_button {
        min-width: 75px;
    }  
}*/

/* Larger than phablet (also point when grid becomes active) */
/*@media (min-width: 550px) {
    input.number_button {
        min-width: 75px;
    }  
}*/

/* Larger than tablet */
/*@media (min-width: 750px) {
    input.number_button {
        min-width: 75px;
    }  
}*/

/* Larger than desktop */
/*@media (min-width: 1000px) {
    input.number_button {
        min-width: 75px;
    }  
}*/

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    ul {
        height: 100%;
    }
    ul li {
        list-style-type: none;
        padding-left: 4%
    }

    input.number_button {
        min-width: 75px;
        width: 20%;
        margin: 1px;
        margin-bottom: 10px;
        padding: 10px;

        font-size: 1.5em
    }

    .row.number_row {
        height: 75px;
        margin: 5px;
    }

    div.content div.calculator_area {
        text-align: center;
    }

    div.content div.calculator_area div.calculator_view {
        width: 50%;
        display: inline-block;
    }

    .row.action_row {
        height: 50px;
        margin: 5px;
    }

    #calculator_display {
        font-size: 3.0em;

        padding 25px;
        margin:10px;

        border-radius: 15px
    }
}
